body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-shadow:hover {
  transform: scale(1.05);
  transition: transform .2s;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.photo {
  max-height: 65%;
  
}

.gradient-text {
  background: -webkit-linear-gradient(45deg, #f06, #9f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
